<div class="inner">

    <a class="logo" href="#">
        <h1>TidePool</h1>
    </a>

    <span id="StepsRemainingHolder"></span>

    {{#showNav}}
        <nav>
            <ul>
                <li><a href="#About">About</a></li>
                <li><a href="#Team">Team</a></li>
                <li><a href="#Investors">Investors</a></li>
            </ul>
        </nav>
    {{/showNav}}


    {{#if loggedIn}}
        <div class="loginArea">
            {{#if isRegisteredUser }}
                <button class="btn btn-clear btn-large dropdown-toggle">
                    <ul class="dropdown-menu">
                        <li><a id="ActionShowProfile">
                            <i class="icon-user"></i>
                            Profile
                        </a></li>
                        <li><a id="ActionLogOut">
                            <i class="icon-off"></i>
                            Log Out
                        </a></li>
                    </ul>

                    <i class="avatar">
                        {{#if imageUrl}}
                            <img src="{{imageUrl}}" alt="{{userName}}'s Avatar" />
                        {{/if}}
                    </i>
                    <span>{{userName}}</span>
                    <i class="icon-chevron-sign-down muted"></i>
                </button>

            {{else}}
                <span class="avatar"></span>
                <span id="userName">{{userName}}</span>
            {{/if}}
        </div>
    {{else}}
        <div class="loginArea">
            <button id="ActionShowLogin" class="btn btn-primary btn-large" href="">
                <i class="icon-lock icon-large"></i>
                Log In
            </button>
        </div>
    {{/if}}

</div>




