



{{#if nickname}}

    <button class="btn btn-clear btn-large dropdown-toggle">
        <ul class="dropdown-menu">
            <li><a id="ActionShowProfile">
                <i class="icon-fixed-width icon-user"></i>
                Profile
            </a></li>
            <li><a href="#dashboard">
                <i class="icon-fixed-width icon-th-large"></i>
                Dashboard
            </a></li>
            <li><a id="ActionLogOut">
                <i class="icon-fixed-width icon-unlink"></i>
                Log Out
            </a></li>
        </ul>
        <i class="avatar">
            {{#if image}}
                <img src="{{image}}" alt="{{nickname}}'s Profile Image" />
            {{/if}}
        </i>
        <span title="{{name}}: {{email}}">{{nickname}}</span>
        <i class="icon-chevron-sign-down muted"></i>
    </button>

{{else}}

    <button id="ActionShowLogin" class="btn btn-link btn-large" href="">
        <i class="icon-lock icon-large"></i>
        Log In
    </button>

{{/if}}



