



{{#if nickname}}

    <div class="dropdown">
        <div class="btn btn-clear dropdown-toggle" data-toggle="dropdown">
            <i class="avatar">
                {{#if image}}
                    <img src="{{#unless isAbsoluteImagePath}}@@buildDir{{/unless}}{{image}}"
                         alt="{{nickname}}'s Profile Image" />
                {{/if}}
            </i>
            <span class="nickname" title="{{name}}: {{email}}">{{nickname}}</span>
            <i class="arrow icon-chevron-sign-down muted"></i>
        </div>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#dashboard">
                <i class="icon-fixed-width icon-large gfx-home"></i>
                Dashboard
            </a></li>
            <li><a id="ActionShowProfile">
                <i class="icon-fixed-width icon-large gfx-user"></i>
                Profile
            </a></li>
            <li><a id="ActionShowPersonalizations">
                <i class="icon-fixed-width icon-large gfx-cog"></i>
                Personalize
            </a></li>
            <li><a id="ActionShowConnections">
                <i class="icon-fixed-width icon-large gfx-bolt"></i>
                Connections
            </a></li>
            <li><a id="ActionLogOut">
                <i class="icon-fixed-width icon-large gfx-nuttin"></i>
                Log Out
            </a></li>
        </ul>
    </div>


{{else}}

    <button id="ActionShowLogin" class="btn btn-link btn-large">
        {{#if guest}}
            <i class="gfx-user"></i>
        {{else}}
            <i class="gfx-lock"></i>
        {{/if}}
        Log In
    </button>

{{/if}}



