
<div class="field {{string_id}}">

    <input
        id="field-{{string_id}}"
        name="{{string_id}}"
        class="{{className}}"
        type="checkbox"
        value="{{value}}"
        {{#if required}}
            required
        {{/if}}
    />

    {{#if label}}
        <label class="forCheckbox" for="field-{{string_id}}">{{label}}</label>
    {{/if}}

</div>

