
<div class="field {{name}}">

    <input
        id="field-{{name}}"
        name="{{name}}"
        class="{{className}}"
        type="checkbox"
        {{#if required}}
            required
        {{/if}}
        {{#if value}}
            checked
        {{/if}}
    />

    {{#if label}}
        <label class="forCheckbox" for="field-{{name}}">{{label}}</label>
    {{/if}}
    {{#if description}}
        <label class="forCheckbox" for="field-{{name}}">{{description}}</label>
    {{/if}}

</div>

