
<div class="field {{string_id}}">

    <label for="{{string_id}}">{{label}}</label>

    <input
        name="{{string_id}}"
        type="date"
        value="{{value}}"
        {{#if placeholder}}
            placeholder="{{placeholder}}"
        {{/if}}
        {{#if required}}
            required
        {{/if}}
        />

</div>

