

{{#if label}}
    <label for="{{string_id}}">{{label}}</label>
{{/if}}

<select name="{{string_id}}" {{#if multiselect}}multiple{{/if}}>
    {{#unless multiselect}}
        <option value="">Select...</option>
    {{/unless}}
    {{#options}}
        <option value="{{value}}">{{value}}</option>
    {{/options}}
</select>


<span class="purdyBts noDisplay">
    {{#options}}
        <button value="{{value}}" class="btn btn-large btn-link btn-tall" type="button">
            <i class="{{icon}}"></i>
            <small>
                {{value}}
            </small>
        </button>
    {{/options}}
</span>


