
<div class="field {{string_id}}">

    <label for="{{string_id}}">{{label}}</label>

    <select class="{{className}}" name="{{string_id}}">
        <option value=''>Select...</option>
        {{#options}}
            <option value="{{this}}">{{this}}</option>
        {{/options}}
    </select>

</div>





