
<img
    class="img-badge"
    src="@@buildDir/images/badges/{{logo_url}}"
    alt="Badge representing the personalty type of: {{name}}"
    title="Personality game played on {{prettyDate time_played}} at {{prettyTime time_played}} "
/>


<hgroup class="mainHeading">
    <h3>You are</h3>
    <h1>{{name}}</h1>
</hgroup>

<div class="explanation">
    {{{one_liner}}}
</div>


