

<canvas width="{{width}}" height="{{height}}"></canvas>
<ul class="key">
    {{#each chartValues}}
        <li title="{{value}}">
            <i class="swatch" style="background-color:{{color}}"></i>
            {{label}}
        </li>
    {{/each}}
 </ul>

