
<legend>
    <i class="gfx-sun" title="Early Morning"></i>
    <i class="gfx-moon" title="Late Night"></i>
</legend>
<div class="chartHolder">
    <div class="chart">
        {{#results}}
            {{#if score.display_emotion_name }}
                <div class="slice">
                    <i class="emoticon small {{ score.display_emotion_name }} {{ timeClass }}"
                       data-id="{{id}}"
                       title="<div class='emotionsHistory'>{{prettyDate time_played}} {{prettyTime time_played}} <h3 class='emoName'>{{ score.display_emotion_friendly }}</h3></div>">
                    </i>
                </div>
            {{/if}}
        {{/results}}
    </div>
</div>

