
<p class="textAlignCenter">
    <img
        src="/images/badges/{{score.logo_url}}"
        alt="Badge representing the personalty type of: {{score.name}}"
        title="Personality game played on {{prettyDate time_played}} at {{prettyTime time_played}} ">
</p>

<h2 class="textAlignCenter">
    <span class="muted">You are </span>
    {{score.name}}
</h2>

<div class='large'>
    {{{score.one_liner}}}
</div>
