
{{#if showTime}}
    <p class="subTitle">
        {{prettyTime time_played}}
        {{prettyDate time_played}}
    </p>
{{/if}}

<div class="metricHolder {{#if showTime}}showingTimeAndTitle{{/if}}">
    <div class="colHalves">
        <div class="metric good up" title="Fastest: {{score.fastest_time}}ms">
            <label>
                {{score.fastest_time}}
            </label>
            <small>Milliseconds</small>
        </div>
    </div>
    <div class="colHalves">
        <div class="metric bad down" title="Slowest: {{score.slowest_time}}ms">
            <label>
                {{score.slowest_time}}
            </label>
            <small>Milliseconds</small>
        </div>
    </div>

</div>



