

{{#if image_url}}

    <div tabindex="2" class="circle hasImage">
        {{#if image_url}}
            <img src="@@buildDir{{image_url}}" alt="Image representing emotion(s)"/>
        {{/if}}
    </div>

{{else}}

    <div tabindex="2" class="circle">{{{abbreviation}}}</div>
    <label>
        <span class="inner">
            <b class="fluff arrowTop"></b>
            {{trait1}}<br/>
            {{trait2}}
        </span>
    </label>

{{/if}}
