

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2>Profile</h2>
</div>


<div class="modal-body">
    <i
        class="avatar large interactive spaceBelow"
        title="{{city}}, {{state}}. {{country}}. DOB: {{dob}} timezone: {{timezone}}"
    >
        {{#if image}}
            <img src="{{image}}" alt="{{name}}'s Profile Image" />
        {{/if}}
    </i>

    <form>

        <input type="text" id="name" name="name" placeholder="Name" class="input large input-block-level" value="{{name}}" >
        <input type="text" id="email" name="email" placeholder="email@address.com" class="input large input-block-level" value="{{email}}">

        <div class="btn-group btn-rocker spaceBelow gendered" data-toggle="buttons-radio">
            <button class="btn active">Male</button>
            <button class="btn">Female</button>
        </div>
        <input type="hidden" name="gender" value="{{gender}}" />

        <button class="btn btn-large btn-block btn-inverse" type="submit">Save</button>
    </form>
</div>
