
<div class="friendTeaser">
    <p class="textAlignCenter large">
        <strong>How do other people see you?</strong>
    </p>
    <p>
        Share this link with a quick survey to <strong>at least 3 friends</strong> and see what they think about your personality.
    </p>
    <!--<a class="btn btn-link btn-large" href="{{origin}}/#helpMyFriend/{{user_id}}/{{game_id}}">Preview</a>-->

    <br/>

    <p class="textAlignCenter">
        <a class="btn btn-large btn-primary btn-alt friendSurvey" href="mailto:?subject={{emailSubject}}&body={{emailBody}}">
            <i class="icon-envelope"></i>
            Ask Friends
        </a>
        <input type='text' class="large" value="{{origin}}/#friendHelper/{{user_id}}/{{game_id}}"/>
        <br/>
        <a href="{{origin}}/#friendHelper/{{user_id}}/{{game_id}}" class="surveyPreview">
            Preview the Survey
        </a>
    </p>

</div>


