
<div class="friendTeaser">
    <p class="textAlignCenter large">
        <strong>Find What Others Think About You</strong>
    </p>
    <p>You've probably heard that perception is reality. Knowing what others think of you can greatly help you understand yourself better.</p>
    <p>
        Send this quick and anonymous 1-page survey to <strong>at least 3 friends</strong> and see what people truly think of your personality. It’s all anonymous, so the results will be honest and unbiased.
    </p>
    <p>
        Your personality information is safe at TidePool and will not be shared with your friends.
    </p>
    <!--<a class="btn btn-link btn-large" href="{{origin}}/#helpMyFriend/{{user_id}}/{{game_id}}">Preview</a>-->

    <br/>

    <p class="textAlignCenter">
        <a class="btn btn-large btn-primary btn-alt friendSurvey" href="mailto:?subject={{emailSubject}}&body={{emailBody}}">
            <i class="icon-envelope"></i>
            Ask Friends
        </a>
        <input type='text' class="large" value="{{origin}}/#friendHelper/{{user_id}}/{{game_id}}"/>
        <br/>
        <a href="{{origin}}/#friendHelper/{{user_id}}/{{game_id}}" class="surveyPreview">
            Preview the Survey
        </a>
    </p>

</div>


