


{{#if image}}
    <i class="avatar interactive">
        <img src="@@buildDir{{image}}" alt="{{name}}'s Profile Image" />
    </i>
{{else}}
    <i class="avatar large interactive"></i>
{{/if}}


<!--<form title="{{city}}, {{state}}. {{country}}. DOB: {{date_of_birth}} timezone: {{timezone}}">-->
    <!--<input type="text" name="name" placeholder="Name" class="input large input-block-level" value="{{name}}" >-->
    <!--<input type="text" name="email" placeholder="email@address.com" class="input large input-block-level" value="{{email}}">-->
    <!--<button class="btn btn-large btn-block btn-primary" type="submit">Save</button>-->
<!--</form>-->


