<div id="images" class="row">
  <div class="frames">
  {{#each frames}}
    <div class="frame f{{index}}" draggable="false" data-rank="{{index}}">{{rank}}</div>
  {{/each}}
  </div>

  <div class="photos">
  {{#each images}}
    <div class="photo p{{index}} span2" data-image="{{index}}"><img draggable="false" height="180" src="{{url}}"></div>
  {{/each}}
  </div>

  <div id="infobox" class="infobox">
    <p>{{instructions}}</p>
    <button id="start" class="btn btn-primary btn-large btn-orange">I'm Ready</button>
  </div>
</div>    