<div id="mainDash">
  <div class="row-fluid">
    <div class="span3 offset2">
      <div class="row-fluid">
        <div class="span3 type-icon">
          <img class="img-polaroid" src="/images/badges/{{profile.logo_url}}" alt="{{profile.name}}">
        </div>
        <div class="span9">
          Wow, you are <span class=".lead">{{profile.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      {{view "detailed_results_view" context=profile}}
    </div>
    <div class="span6">
      {{view "charts_view" context=scores}}
    </div>
  </div>  
</div>