<div>
  <div class="span10">
    <div class="row-fluid">
      <div class="span5">
        <span class="yourResult">Your Result:</span><b>{{name}}</b>
        <h3>You are</h3>
        <div class="type-icon"><img src="/images/badges/{{logo_url}}" alt="{{name}}"></div>
        <h3>{{name}}</h3>
        <p>{{one_liner}}</p>
      </div>
      <div class="span5">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</div>