
<div class="field {{string_id}}">

    {{#if label}}
        <label for="{{string_id}}">{{label}}</label>
    {{/if}}

    <input
        name="{{string_id}}"
        type="date"
        class="{{className}}"
        value="{{value}}"
        {{#if placeholder}}
            placeholder="{{placeholder}}"
        {{/if}}
        {{#if required}}
            required
        {{/if}}
        />

</div>

