

<i class="icon icon-bulb-circle pull-left"></i>
<p class="strong">
    Based on your personality, TidePool recommends this <em>{{link_type}}</em>.
</p>
<p>{{sentence}}</p>

{{#if link}}
    <a href="{{link}}" id="ActionRecommendationLink" class="footer" target="_blank">
        <i class="linkType {{icon}}"></i>
            <span class="icon-stack pull-right">
                <i class="icon-circle-blank icon-stack-base"></i>
                <i class="icon-arrow-right"></i>
            </span>
        {{link_title}}
    </a>
{{/if}}

