
<div class="inner">
    <hgroup class="welcome">
        <h2>
            {{pickOne greetings }}!
        </h2>
        <h5>
            Wow, there's lots to do here. <br/>
            Here's something to get you started.
        </h5>
    </hgroup>


    <ul class="items">
        <li class="item {{link_type}}"><a href="{{link}}">
            <i class="icon-rocket {{icon}}"></i>
            <p>
                <strong>{{title}}</strong><br/>
                {{sentence}}
            </p>
            <!--<p>-->
            <!--Based on your personality, TidePool recommends this <em>{{link_type}}</em>.-->
            <!--</p>-->
        </a></li>
    </ul>

</div>
